body {
    background-color: #503E34;
    color: white;
}
::-webkit-scrollbar-thumb {
    background: #9E7660 !important;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #DFD4CE !important;
}
.navbar {
    background-color: transparent !important;
}

.nav-item, .nav-profile, footer {
    background-color: #B1856B !important;
}

.deck-advice-section-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.deck-advice-image {
    width: 60%;
    z-index: 2;
}

.how-to-deck-heading {
    font-size: 3rem;
    margin-bottom: 100px;
}

.how-to-title {
    color: #9E7660;
    font-weight: bold;
}

.how-to-image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.how-to-image-container::before,
.how-to-image-container::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 6px solid white;
}

.how-to-image-container::before {
    width: 500px;
    height: 230px;
    background-color: #B1856B;
    z-index: 1;
}

.deck-advice-section-container {
    margin-bottom: 120px;
}

.create-first-deck-container{
    background-color: white;
}

.create-first-deck-heading {
    color: #503E34;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}
.create-first-deck-content-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.btn-go-to-decks {
    background-image: linear-gradient(to right, rgba(80,62,52,1), rgba(182,141,118,1));
    font-weight: 500;
    text-transform: uppercase;
    font-size: 2rem;
    border-radius: 150px;
    width: 400px;
    color: white;
}
.btn-go-to-decks:hover {
    background-image: linear-gradient(to right, rgba(80,62,52,0.8), rgba(182,141,118,0.8));
    font-weight: 500;
}
.create-first-deck-image{
    width: 15%;
}