body {
    background: linear-gradient(0deg, #fff, #003DAD, #AFCBFF);
    background-size: 400% 400%;
}
.register-heading {
    color: #1D498B;
    text-align: center;
    text-transform: uppercase;
}
.navbar, footer {
    background-color: transparent !important;
}
footer {
    border-top: 3px solid white;
}
/*.register-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}
.register-content-container{
    grid-column: 1 / -1;
    display: relative;
}
.register-student-container {
    position: relative;
    grid-column: 2 / -1;
    grid-row: 2 / -1;
}
.student-ellipse{
    position: absolute;
    top:0;
    z-index: -1;
}
.navbar {
    background-color: #5472D4 !important;
}
footer {
    background-color: #5472D4 !important;
    z-index: -2;
}
.register-bag-container{
    position: relative;
}
.bag-ellipse{
    position: absolute;
    top: 0;
    z-index: -1;
    width: 80%;
}
.register-bag {
    position: absolute;
    top: 20%;
    left: 3%;
    z-index: -2;
    rotate: -30deg;
}*/