body {
    background: linear-gradient(0deg, #fff, #003DAD, #AFCBFF);
    background-size: 400% 400%;
}
.register-heading {
    color: #1D498B;
    text-align: center;
    text-transform: uppercase;
}
label {
    font-size: 1.6rem !important;
    color: #1D498B;
}
input {
    font-size: 1.6rem !important;
}
.register-buttons-container{
    display: flex;
    justify-content: space-between;
}
.register-btn{
    color: white;
    text-transform: uppercase;
    padding: 1rem 3rem;
    border-radius: 150px;
}
.register-back {
    background-color: #337BFF;
}
.register-back:hover {
    background-color: #6A9EFF;
    color: white;
}
.register-submit {
    background-color: #1D498C;
}
.register-submit:hover {
    background-color: #375C94;
    color: white;
}
.register-image-container {
    display: flex;
    justify-content: center;
}
.register-image{
    width: 30%;
}
.navbar, footer {
    background-color: transparent !important;
}
footer {
    border-top: 3px solid white;
}
