@{
    ViewData["Title"] = "Съвети";
}

<head>
    <link href="~/css/Advice/AdviceStyles.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <header class="advice-header-container mt-5">
            <a class="advice-add-button btn fs-4" asp-action="Create" asp-controller="Advice">+ Нов съвет</a>
        </header>
        <section class="advice-flex-container">
            @foreach (var advice in Model)
            {
                <div class="advice-container">
                    <div class="advice-content-container mt-5">
                        <div class="advice-image-container">
                            <img src="@Url.Action("GetAdviceImage", "Advice", new { adviceId = advice.Id })"
                                 class="img-fluid advice-image p-3" />
                        </div>
                        <div class="ms-3 mt-3 advice-text-container">
                            <p class="fs-1 fw-bold text-light m-0 advice-name">@advice.Name</p>
                            <p class="fs-5 m-0 advice-type mb-4">@advice.Type</p>
                            <div class="advice-open-container me-3">
                                <a class="btn btn-light advice-open-button fs-5" href="@advice.Value" target="_blank">Отвори</a>
                            </div>
                        </div>
                    </div>
                </div>
                
            }
        </section>
    </div>
</body>