@{
    ViewData["Title"] = "Съвети";
}

<head>
    <link href="~/css/Advice/AdviceStyles.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <header class="advice-header-container mt-5">
            <a class="advice-add-button btn fs-4">+ Нов съвет</a>
        </header>
        <section class="advice-container">
        </section>
    </div>
</body>