.profile-item {
    background-color: white !important;
    margin-bottom: 10px;
    border-radius: 0px !important;
    border-bottom: 2px solid #0F52BA;
}

.nav-item:hover {
    background-color: rgba(255, 255, 255, 0.3);
}