.menu-container {
    position: relative;
}
.menu-item {
    width: 100%;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.menu-item-image-container{
    display: grid;
    justify-content: end;
}
.menu-item-link-container {
    display: grid;
    align-items: center;
    padding-left: 15px;
}
.menu-sets {
    background-color: #90B3F2;
}
.menu-advices {
    background-color: #431264;
}
.menu-tests {
    background-color: #C0F5C0;
}
.menu-videos {
    background-color: #FF6363;
}
.menu-notes {
    background-color: #855050;
}
.menu-item-link {
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.menu-item-link:hover{
    color: white;
    text-decoration: none;  
}
.menu-item:hover {
    opacity: 0.8;
}
.menu-traveler-container {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 50%;
    margin-bottom: 5vh;
}
.menu-item-image{
    width: 130px;
}