@{
    ViewData["Title"] = "Създаване";
}

<head>
    <link rel="stylesheet" href="~/css/Set/SetStylesCreate.css" />
</head>
<body>
<div>
    <div class="container mt-5">
        <header>
                <h1 class="fs-4 text-light">Създаване на колекция</h1>
        </header>
    </div>
</div>
</body>