@{
    ViewData["Title"] = "Колекции";
}

<head>
    <link rel="stylesheet" href="~/css/Set/SetStyles.css" />
</head>
<body>
    <div>
        <div class="container mt-5">
            <section>
                <a class="btn btn-lg btn-light" asp-action="Create" asp-controller="Set">Създаване</a>
            </section>
        </div>
    </div>
</body>