@model Sapphire17.ViewModels.DeckViewModel;
@{
    ViewData["Title"] = "Създаване";
}

<head>
    <link rel="stylesheet" href="~/css/Deck/DeckStylesCreate.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div>
        <div class="container mt-5">
            <header>
                <h1 class="text-light deck-create-heading">Създаване на тесте</h1>
            </header>
            <div class="deck-create-container">
                <form method="post" asp-action="CreateDeck" asp-controller="Deck" asp-route-setId="@ViewBag.setId" enctype="multipart/form-data">
                    <input type="hidden" asp-for="SetId" value="@ViewBag.setId" />
                    <div class="mb-3">
                        <label asp-for="ImageFile" class="form-label fs-3 text-light">Изображение</label>
                        <input asp-for="ImageFile" class="form-control create-input" type="file" />
                    </div>
                    <div class="mb-3">
                        <label asp-for="Name" class="form-label text-light fs-3">Име</label>
                        <input asp-for="Name" class="form-control create-input" />
                    </div>
                    <div class="mb-3">
                        <label asp-for="Description" class="form-label text-light fs-3">Описание</label>
                        <textarea asp-for="Description" class="form-control create-input-textarea"></textarea>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Visible" class="form-label text-light fs-3">Видимост</label>
                        <select asp-for="Visible" class="form-select create-input">
                            <option value="true">Видимo</option>
                            <option value="false">Скритo</option>
                        </select>
                    </div>
                    <div class="deck-create-buttons-container mt-5">
                        <a class="btn btn-lg btn-back btn-warning" asp-action="Index" asp-controller="Deck" asp-route-setId="@ViewBag.setId">
                            Назад
                        </a>
                        <button type="submit" class="btn btn-lg btn-submit" asp-route-setId="@ViewBag.setId">
                            Създай
                        </button>
                    </div>
                </form>
                <div class="deck-advices-container mt-5">
                    <div class="deck-advice-image-container">
                        <img src="~/Images/caffeine.png" class="img-fluid" />
                    </div>
                    <div class="deck-advice-buttons-container">
                        <div class="deck-advice-button-container">
                            <a class="btn btn-lg btn-submit btn-advice">Готови тестета</a>
                        </div>
                        <div class="deck-advice-button-container">
                            <a class="btn btn-lg btn-submit btn-advice" 
                               asp-action="HowToCreate" asp-controller="Deck">Как да създам тесте</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>