@{
    ViewData["Title"] = "How to Create a Deck";
}

<head>
    <link rel="stylesheet" href="~/css/Deck/DeckStylesHowToCreate.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div>
        <div class="container mt-5">
            <header>
                <h1 class="how-to-deck-heading">Как се създава тесте?</h1>
            </header>
            <section class="deck-advice-section-container">
                <div>
                    <img src="~/Images/barista.png" class="img-fluid deck-advice-image" />
                </div>
                <div class="deck-advice-content">
                    <h2 class="fs-1 mb-4 how-to-title">1. Започни с ясно намерение</h2>
                    <p class="fs-4 how-to-description">
                        Преди да създадеш тесте, определи каква е целта му. Помисли кои знания искаш да затвърдиш и за кого е предназначено – за теб, за група или за по-широка аудитория.
                    </p>
                </div>
            </section>
        </div>
    </div>
</body>