@{
    ViewData["Title"] = "How to Create a Deck";
}

<head>
    <link rel="stylesheet" href="~/css/Deck/DeckStylesHowToCreate.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div>
        <div class="container mt-5">
            <header>
                <h1 class="how-to-deck-heading">Как се създава тесте?</h1>
            </header>
            <section class="deck-advice-section-container">
                <div class="how-to-image-container">
                    <img src="~/Images/barista.png" class="img-fluid deck-advice-image" />
                </div>
                <div class="deck-advice-content">
                    <h2 class="fs-1 mb-4 how-to-title">1. Започни с ясно намерение</h2>
                    <p class="fs-4 how-to-description">
                        Преди да създадеш тесте, определи каква е целта му. Помисли кои знания искаш да затвърдиш и за кого е предназначено – за теб, за група или за по-широка аудитория.
                    </p>
                </div>
            </section>
            <section class="deck-advice-section-container">
                <div class="how-to-image-container">
                    <img src="~/Images/breakfast.png" class="img-fluid deck-advice-image" />
                </div>
                <div class="deck-advice-content">
                    <h2 class="fs-1 mb-4 how-to-title">2. Поддържай връзка между картите</h2>
                    <p class="fs-4 how-to-description">
                        Всяка карта трябва да се свързва логически с останалите.
                    </p>
                    <ul>
                        <li class="fs-5 how-to-description">Групирай картите по теми или категории.</li>
                        <li class="fs-5 how-to-description">Използвай последователен стил на въпросите и отговорите.</li>
                        <li class="fs-5 how-to-description">Осигури плавен преход между различните секции на тестето.</li>
                    </ul>
                    <p class="fs-4 how-to-description">
                        Така ще усвояваш знания по-бързо и трайно.
                    </p>
                </div>
            </section>
            <section class="deck-advice-section-container">
                <div class="how-to-image-container">
                    <img src="~/Images/drink.png" class="img-fluid deck-advice-image" />
                </div>
                <div class="deck-advice-content">
                    <h2 class="fs-1 mb-4 how-to-title">3. Пиши прости и ясни въпроси</h2>
                    <p class="fs-4 how-to-description">
                        Не  пиши твърде много информация в картите. Въпросът трябва да бъде ясен и да тества само едно конкретно знание.
                    </p>
                    <p class="fs-4 how-to-description">
                        Една карта = една идея = по-лесно запаметяване.
                    </p>
                </div>
            </section>
        </div>
        <div class="create-first-deck-container">
            <div class="create-first-deck-heading-container pt-5 mb-5">
                <h1 class="create-first-deck-heading">Създай първото си тесте</h1>
            </div>
            <div class="create-first-deck-content-container">
                <img src="~/Images/farmer.png" class="img-fluid create-first-deck-image"/>
                <a class="btn btn-lg btn-go-to-decks" asp-action="Index" asp-controller="Set">Тестета</a>
            </div>
        </div>
    </div>
</body>