@model Sapphire17.Models.Flashcard;
@{
    ViewData["Title"] = "Флашкарта";
}

<head>
    <link href="~/css/Flashcard/CurrentFlashcardStyles.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
<div>
    <div class="container">
        <div class="flashcard-info">
            <p>Колекция: @ViewBag.setName</p>
            <p>Тесте: @ViewBag.deckName</p>
            <div class="current-flashcard-container mt-5">
                <div class="current-flashcard">
                    <p class="current-flashcard-question">@Model.Question</p>
                    <div class="btn-show-answer-container mt-5">
                        <a class="btn btn-lg btn-show-answer">Покажи отговора</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
