@{
    ViewData["Title"] = "Флашкарта";
}

<head>
    <link href="css/Flashcard/FlashcardStyles.css" rel="stylesheet" />
    <link href="css/site.css" rel="stylesheet" />
</head>
<body>
<div>
<div></div>
</div>
</body>
