@model Sapphire17.Models.Flashcard;
@{
    ViewData["Title"] = "Флашкарта";
}

<head>
    <link href="~/css/Flashcard/CurrentFlashcardStyles.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
<div>
    <div class="container">


    </div>
</div>
</body>
