@model IEnumerable<Flashcard>
@{
    ViewData["Title"] = "Всички флашкарти";
}

<head>
    <link href="css/Flashcard/FlashcardStyles.css" rel="stylesheet" />
    <link href="css/site.css" rel="stylesheet" />
</head>
<body>
<div>
    <div class="container">
        @foreach (var flashcard in Model)
        {
            <div class="flashcard-full-container">
                <p class="fs-3 text-light">@flashcard.Question</p>
                <p class="fs-3 text-light">@flashcard.Answer</p>
            </div>
        }
    </div>
</div>
</body>