@{
    ViewData["Title"] = "Меню";
}

<head>
    <link href="css/site.css" rel="stylesheet" />
    <link href="css/Menu/MenuStyles.css" rel="stylesheet" />
</head>
<body> 
    <div>
        <div class="menu-container container mt-5">
            <div class="menu-item menu-sets mb-5">
                <a class="menu-item-link fs-1" asp-action="Index" asp-controller="Set">
                    <img src="Images/Logo 1.png" class="menu-item-image me-5"/> Колекции
                </a>
            </div>
            <div class="menu-item menu-advices mb-5">
                <a class="menu-item-link fs-1" asp-action="Index" asp-controller="Advice">
                    <img src="Images/Logo.png" class="menu-item-image me-5" /> Съвети
                </a>
            </div>
            <div class="menu-item menu-tests mb-5">
                <a class="menu-item-link fs-1">
                    <img src="Images/Logo.png" class="menu-item-image me-5" /> Тестове
                </a>
            </div>
            <div class="menu-item menu-videos mb-5">
                <a class="menu-item-link fs-1">
                    <img src="Images/Logo.png" class="menu-item-image me-5" /> Видеа
                </a>
            </div>
            <div class="menu-item menu-notes mb-5">
                <a class="menu-item-link fs-1" asp-action="Index" asp-controller="Note">
                    <img src="Images/Logo.png" class="menu-item-image me-5" /> Бележки
                </a>
            </div>
        </div>
        <div class="menu-traveler-container">
            <img src="Images/traveler.png" class="img-fluid menu-traveler-image"/>
        </div>
    </div>
</body>