@{
    ViewData["Title"] = "Меню";
}

<head>
    <link href="css/site.css" rel="stylesheet" />
    <link href="css/Menu/MenuStyles.css" rel="stylesheet" />
</head>
<body> 
    <div>
        <div class="menu-container container mt-5">
            <div class="menu-item menu-sets mb-5">
                <div class="menu-item-image-container">
                    <img src="Images/LogoSets.png" class="menu-item-image me-5" />
                </div>
                <div class="menu-item-link-container">
                    <a class="menu-item-link fs-1" asp-action="Index" asp-controller="Set">
                        Колекции
                    </a>
                </div>
            </div>
            <div class="menu-item menu-advices mb-5">
                <div class="menu-item-image-container">
                    <img src="Images/LogoAdvices.png" class="menu-item-image me-5" />
                </div>
                <div class="menu-item-link-container">
                    <a class="menu-item-link fs-1" asp-action="Index" asp-controller="Advice">
                        Съвети
                    </a>
                </div>
            </div>
            <div class="menu-item menu-tests mb-5">
                <div class="menu-item-image-container">
                    <img src="Images/LogoQuizzes.png" class="menu-item-image me-5" />
                </div>
                <div class="menu-item-link-container">
                    <a class="menu-item-link fs-1">
                        Тестове
                    </a>
                </div>
            </div>
            <div class="menu-item menu-videos mb-5">
                <div class="menu-item-image-container">
                    <img src="Images/LogoVideos.png" class="menu-item-image me-5" />
                </div>
                <div class="menu-item-link-container">
                    <a class="menu-item-link fs-1">
                        Видеа
                    </a>
                </div>
            </div>
            <div class="menu-item menu-notes mb-5">
                <div class="menu-item-image-container">
                    <img src="Images/LogoNotes.png" class="menu-item-image me-5" />
                </div>
                <div class="menu-item-link-container">
                    <a class="menu-item-link fs-1" asp-action="Index" asp-controller="Note">
                        Бележки
                    </a>
                </div>
            </div>
        </div>
        <div class="menu-traveler-container">
            <img src="Images/traveler.png" class="img-fluid menu-traveler-image"/>
        </div>
    </div>
</body>