@{
    ViewData["Title"] = "Начало";
}
<head>
    <link href="~/css/Home/HomeStyles.css" rel="stylesheet" />
</head>
<body>
    <div class="home-container mt-5 container">
        <section class="home-container-content mb-5">
            <header class="home-header">
                <h1 class="home-heading">Сапфир превръща ученето в навик</h1>
            </header>
        </section>
        <section class="home-container-info mb-5">
            <p class="lead text-light fw-bold p-2"> 
                Използвай най-ефективното средство за учене – флашкарти, които те карат да мислиш активно.
            </p>
            <p class="lead text-light fw-bold p-2">Учи по-бързо, по-лесно и с удоволствие!</p>
        </section>
        <section class="home-container-more-info">
            <img src="~/Images/touristWhite.png" class="img-fluid home-image-info"/>
            <button class="btn home-btn-info">Прочети повече</button>
        </section>
        @* <div>
            <img src="~/Images/HomeCards.png" rel="stylesheet" class="img-fluid home-cards-image" />
        </div>
        <div class="home-polygon-container">
            <img src="~/Images/Polygon.png" rel="stylesheet" class="img-fluid home-polygon" />
        </div> *@
    </div>
</body>
