@{
    ViewData["Title"] = "Начало";
}
<head>
    <link href="~/css/Home/HomeStyles.css" rel="stylesheet" />
</head>
<body>
    <div class="home-container container pb-5">
        <section class="home-container-content mb-5">
            <header class="home-header">
                <h1 class="home-heading">Сапфир превръща ученето в навик</h1>
            </header>
        </section>
        <section class="home-container-info-1 mb-5">
            <p class="lead text-light fw-bold p-2 home-info"> 
                Използвай най-ефективното средство за учене – флашкарти, които те карат да мислиш активно.
            </p>
            <p class="lead text-light fw-bold p-2 home-info">Учи по-бързо, по-лесно и с удоволствие!</p>
        </section>
        <section class="home-container-info-2 mb-5">
            <p class="lead text-light fw-bold p-2 home-info">
                Колекции, тестове, статистика и още много други функционалности те очакват!
            </p>
        </section>
        <section class="home-container-more-info">
            <img src="~/Images/touristWhite.png" class="img-fluid home-image-info"/>
            <button class="btn home-btn-info">Прочети повече</button>
        </section>
    </div>
    @* <hr class="m-0 p-0 homeHr"/> *@
    <div class="functionality-container">
        <section class="functionality-container-content container pt-5">
            <div class="home-functionality p-3">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="home-icon mb-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
                </svg>
                <h3 class="functionality-name">Профили</h3>
                <p class="functionality-description">Създай профил, в който да съхраняваш колекциите си с флашкарти.</p>
            </div>
            <div class="home-functionality p-3">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="home-icon mb-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 6.375c0 2.278-3.694 4.125-8.25 4.125S3.75 8.653 3.75 6.375m16.5 0c0-2.278-3.694-4.125-8.25-4.125S3.75 4.097 3.75 6.375m16.5 0v11.25c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125V6.375m16.5 0v3.75m-16.5-3.75v3.75m16.5 0v3.75C20.25 16.153 16.556 18 12 18s-8.25-1.847-8.25-4.125v-3.75m16.5 0c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125" />
                </svg>
                <h3 class="functionality-name">Колекции</h3>
                <p class="functionality-description">Организирай информацията в колекции по предмети или теми.</p>
            </div>
            <div class="home-functionality p-3">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="home-icon mb-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 7.5h1.5m-1.5 3h1.5m-7.5 3h7.5m-7.5 3h7.5m3-9h3.375c.621 0 1.125.504 1.125 1.125V18a2.25 2.25 0 0 1-2.25 2.25M16.5 7.5V18a2.25 2.25 0 0 0 2.25 2.25M16.5 7.5V4.875c0-.621-.504-1.125-1.125-1.125H4.125C3.504 3.75 3 4.254 3 4.875V18a2.25 2.25 0 0 0 2.25 2.25h13.5M6 7.5h3v3H6v-3Z" />
                </svg>
                <h3 class="functionality-name">Флашкарти</h3>
                <p class="functionality-description">Добавяй карти с въпрос и отговор, както и снимки, за да учиш по най-удобния за теб начин.</p>
            </div>
            <div class="home-functionality p-3">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="home-icon mb-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 6h9.75M10.5 6a1.5 1.5 0 1 1-3 0m3 0a1.5 1.5 0 1 0-3 0M3.75 6H7.5m3 12h9.75m-9.75 0a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m-3.75 0H7.5m9-6h3.75m-3.75 0a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m-9.75 0h9.75" />
                </svg>
                <h3 class="functionality-name">Режим на учене</h3>
                <p class="functionality-description">
                    Учи по различни начини:
                </p>
                <ul>
                    <li class="functionality-description">Преглед на карти</li>
                    <li class="functionality-description">Писане на отговори</li>
                    @* <li class="functionality-description">Тест</li> *@
                </ul>
            </div>
            <div class="home-functionality p-3">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="home-icon mb-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 3v11.25A2.25 2.25 0 0 0 6 16.5h2.25M3.75 3h-1.5m1.5 0h16.5m0 0h1.5m-1.5 0v11.25A2.25 2.25 0 0 1 18 16.5h-2.25m-7.5 0h7.5m-7.5 0-1 3m8.5-3 1 3m0 0 .5 1.5m-.5-1.5h-9.5m0 0-.5 1.5m.75-9 3-3 2.148 2.148A12.061 12.061 0 0 1 16.5 7.605" />
                </svg>
                <h3 class="functionality-name">Статистика</h3>
                <p class="functionality-description">Следи напредъка си и разбери кои карти вече знаеш и кои имат нужда от повече внимание.</p>
            </div>
            <div class="home-functionality p-3">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="home-icon mb-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9.813 15.904 9 18.75l-.813-2.846a4.5 4.5 0 0 0-3.09-3.09L2.25 12l2.846-.813a4.5 4.5 0 0 0 3.09-3.09L9 5.25l.813 2.846a4.5 4.5 0 0 0 3.09 3.09L15.75 12l-2.846.813a4.5 4.5 0 0 0-3.09 3.09ZM18.259 8.715 18 9.75l-.259-1.035a3.375 3.375 0 0 0-2.455-2.456L14.25 6l1.036-.259a3.375 3.375 0 0 0 2.455-2.456L18 2.25l.259 1.035a3.375 3.375 0 0 0 2.456 2.456L21.75 6l-1.035.259a3.375 3.375 0 0 0-2.456 2.456ZM16.894 20.567 16.5 21.75l-.394-1.183a2.25 2.25 0 0 0-1.423-1.423L13.5 18.75l1.183-.394a2.25 2.25 0 0 0 1.423-1.423l.394-1.183.394 1.183a2.25 2.25 0 0 0 1.423 1.423l1.183.394-1.183.394a2.25 2.25 0 0 0-1.423 1.423Z" />
                </svg>
                <h3 class="functionality-name">Точки</h3>
                <p class="functionality-description">Решавай тестове, запомняй флашкарти и трупай точки.</p>
            </div>
            <img src="~/Images/office-worker.png" class="img-fluid functionality-image pb-5"/>
        </section>
    </div>
    <div class="functionalities-container">
        <section class="functionalities-container-description container pt-5">
            <header class="mb-5">
                <h3 class="functionalities-secondary-heading">Функционалности</h3>
                <h2 class="functionalities-heading">Сапфир ти помага да усвояваш нови знания ефективно</h2>
            </header>
            <section class="functionality-description-container">
                <div class="functionality-description-content-container">
                    <h2 class="functionality-number">01</h2>
                    <h2 class="functionality-title">Регистрация</h2>
                    <p class="functionality-section-description">
                        Регистрирай се безплатно и започни
                        да учиш бързо и ефективно.
                    </p>
                </div>
                <div class="functionality-description-image-container">
                    <img src="~/Images/group-image.png" class="img-fluid functionality-description-image"/>
                </div>
            </section>
        </section>
    </div>
    <div class="functionalities-container">
        <section class="functionalities-container-description container pt-5">
            <section class="functionality-description-container">
                <div class="functionality-description-image-container">
                    <img src="~/Images/worker.png" class="img-fluid functionality-description-image" />
                </div>
                <div class="functionality-description-content-container">
                    <h2 class="functionality-number">02</h2>
                    <h2 class="functionality-title">Колекции</h2>
                    <p class="functionality-section-description">
                        Направи колекция и добави в нея неща, от които се интересуваш или искаш да научиш.
                    </p>
                </div>
            </section>
        </section>
    </div>
    <div class="functionalities-container">
        <section class="functionalities-container-description container">
            <section class="functionality-description-container">
                <div class="functionality-description-content-container">
                    <h2 class="functionality-number">03</h2>
                    <h2 class="functionality-title">Флашкарти</h2>
                    <p class="functionality-section-description">
                        Записвай най-важната информация по дадена тема във флашкарти. Те ще ти помогнат бързо да преговориш всичко, което трябва да знаеш.
                    </p>
                </div>
                <div class="functionality-description-image-container">
                    <img src="~/Images/read.png" class="img-fluid functionality-description-image" />
                </div>
            </section>
        </section>
    </div>
    <div class="sapphire-video-container pb-5">
        <header>
            <h2 class="video-heading">Не знаеш откъде да започнеш?</h2>
            <div class="video-description-container">
                <p class="video-description">Изгледай видеото, в което показвам как се използва приложението.</p>
            </div>
        </header>
        <section class="video-content container">
            <div>
                <img src="~/Images/thinking.png" class="img-fluid video-image" />
            </div>
            <div class="ratio ratio-16x9 container mb-5 sapphire-video">
                <iframe class="iframeVideo"
                        src="https://www.youtube.com/embed/Tx9voEpbL5o">
                </iframe>
            </div>
        </section>
    </div>
</body>
