@{
    ViewData["Title"] = "Начало";
}
<head>
    <link href="~/css/Home/HomeStyles.css" rel="stylesheet" />
</head>
<body>
    <div class="home-container mt-5 container">
        <section class="home-container-content">
            <header class="home-header">
                <h1 class="home-heading">Сапфир превръща ученето в навик</h1>
            </header>
            <div class="mt-5 home-advices">
                <div class="home-advice-container">
                    <p class="fs-4 p-3">Запомняй повече, учи по-бързо със Сапфир.</p>
                </div>
                <div class="home-advice-container">
                    <p class="fs-4 p-3">Организирай картите си в колекции, упражнявай се ежедневно и проследявай напредъка си по лесен и мотивиращ начин.</p>
                </div>
            </div>
        </section>
        <div>
            <img src="~/Images/HomeCards.png" rel="stylesheet" class="img-fluid home-cards-image" />
        </div>
        <div class="home-polygon-container">
            <img src="~/Images/Polygon.png" rel="stylesheet" class="img-fluid home-polygon" />
        </div>
    </div>
</body>
