@{
    ViewData["Title"] = "Начало";
}
<head>
    <link href="~/css/Home/HomeStyles.css" rel="stylesheet" />
</head>
<body>
    <div class="home-container mt-5 mb-5 container">
        <section>
            <header class="home-header">
                <h1 class="home-heading">Сапфир превръща ученето в навик</h1>
            </header>
            <div>
                <p>Запомняй повече, учи по-бързо със Сапфир.</p>
            </div>
            <div>
                <p>Организирай картите си в колекции, упражнявай се ежедневно и проследявай напредъка си по лесен и мотивиращ начин.</p>
            </div>
        </section>
        <div>
            <img src="~/Images/HomeCards.png" rel="stylesheet" class="img-fluid" />
        </div>
    </div>
</body>

