@page
@model LoginModel
@{
    ViewData["Title"] = "Вход";
}

<head>
    <link href="~/css/Login/LoginStyles.css" rel="stylesheet" />
</head>

<div class="login-container mt-5 container">
    <div class="login-content-container">
        <h1 class="mb-5 login-heading">Вход</h1>
        <form id="account" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="mb-3">
                <label asp-for="Input.Email" class="form-label">Email</label>
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Input.Password" class="form-label">Парола</label>
                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="**********" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="login-buttons-container mt-5 mb-5">
                <button id="login-back" class="btn btn-lg login-back login-btn">Назад</button>
                <button id="login-submit" type="submit" class="btn btn-lg login-submit login-btn">Вход</button>
            </div>
        </form>
        <div class="login-image-container">
            <img src="~/Images/eating.png" class="img-fluid login-image" />
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
