@page
@model RegisterModel
@{
    ViewData["Title"] = "Регистрация";
}

<head>
    <link href="~/css/Register/RegisterStyles.css" rel="stylesheet" />
</head>

<div class="register-container mt-5 container">
    <div class="register-content-container">
        <h1 class="mb-5 register-heading">Регистрация</h1>
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="mb-3">
                <label asp-for="Input.Email">Email</label>
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Input.Password">Парола</label>
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="**********" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Input.ConfirmPassword">Потвърди парола</label>
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="**********" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="register-buttons-container mt-5">
                <button id="registerBack" class="btn btn-lg registerBack register-btn">Назад</button>
                <button id="registerSubmit" type="submit" class="btn btn-lg registerSubmit register-btn">Регистрация</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
