body {
    background-color: #AFCBFF !important;
}

.navbar {
    background-color: transparent !important;
}

.nav-item, .nav-profile, footer {
    background-color: #0F52BA !important;
}

    .nav-item:hover {
        background-color: rgba(255, 255, 255, 0.3) !important;
    }

.current-flashcard-container {
    background-color: #184081;
    border-radius: 20px;
    display: grid;
    align-items: center;
    min-height: 400px;
    height: auto;
}

.current-flashcard-question {
    color: white;
    font-size: 50px;
    text-align: center;
}

.btn-show-answer-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.btn-show-answer {
    background-color: #2F6BC8;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

    .btn-show-answer:hover {
        background-color: #1C4A8B;
        color: white;
    }

.current-flashcard-answer {
    display: flex;
    justify-content: center;
    color: #1C4A8B;
    background-color: #FFFFFF;
    width: 80%;
    border-radius: 10px;
    margin: auto;
}

.current-flashcard-answer h3 {
    text-align: left;
}

.current-flashcard-answer-container {
    display: none;
}

.points-flex-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.points-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 50px;
}

.point img {
    width: 70px;
    height: 70px;
    cursor: pointer;
}

.point h5 {
    margin-top: 10px;
    color: white;
}

.point {
    text-align: center;
}

.flashcard-info-title {
    color: #1C4A8B;
}

.table-results{
    display: none;
    margin-bottom: 10vh;
}
.table-head-results {
    background-color: #184081 !important;
    color: white;
}
.points-disabled {
    pointer-events: none;
    opacity: 0.4;
    filter: grayscale(100%);
}