body {
    background-color: #CAA7A7;
}

.navbar {
    background-color: transparent !important;
}

.nav-item, .nav-profile, footer {
    background-color: #5C3737 !important;
}

    .nav-item:hover {
        background-color: rgba(255, 255, 255, 0.3) !important;
    }

/* width */
::-webkit-scrollbar {
    width: 15px;
}
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #A16363;
    border-radius: 10px;
}
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #CAA7A7;
    }

.header-buttons-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.header-button-note {
    background-color: #A16363;
    color: white;
}

.header-title-note {
    text-decoration: underline;
    text-underline-offset: 6px;
}

.notes-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}

.note-content-container {
    border-radius: 20px;
    border: 3px solid white;
    overflow: hidden;
    position: relative;
}

.note-action-buttons {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
}

.note-action-buttons:hover {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 100%;
}

.note-priority {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
}

.note-image-container {
    display: flex;
    justify-content: center;
}

.note-image {
    max-width: 200px;
    height: auto;
}

.note-title {
    text-align: center;
}

.note-line {
    border-top: 10px solid white !important;
    width: 80%;
}

.line-container {
    display: flex;
    justify-content: center;
}

.notes-container {
    margin-bottom: 10vh;
}

.modal-action-button {
    /*    display: inline-block;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #A16363;
    color: white;
}

    .modal-action-button:hover {
        background-color: #CAA7A7;
        color: black;
    }
