body {
    background-color: #593535;
}

.navbar {
    background-color: transparent !important;
}

.nav-item, .nav-profile{
    background-color: #CAA7A7 !important;
}

footer {
    background-color: #593535 !important;
}

.nav-item:hover {
    background-color: rgba(255, 255, 255, 0.3) !important;
}

.header-title-note-create {
    text-align: center;
    font-weight: bold;
}
