@{
    ViewData["Title"] = "Потребители";
}
@using Sapphire17.ViewModels
@model List<UserViewModel>

<head>
    <style>
        h1 {
            text-align: center;
            color: #0F52BA;
        }

        th {
            background-color: #AFCBFF !important;
            font-size: 20px;
        }

    </style>
</head>
<body>
    <h1 class="mb-5 mt-5">Списък с потребители</h1>
    <table class="table container">
        <thead>
            <tr>
                <th class="text-light">Име</th>
                <th class="text-light">Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Name</td>
                    <td>@user.Email</td>
                    <td>
                        <form asp-action="Delete" asp-route-id="@user.Id" method="post"
                              onsubmit="return confirm('Изтриване на потребителя');">
                            <button type="submit" class="btn btn-outline-danger">Изтрий</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>