@{
    ViewData["Title"] = "Създаване на бележка";
}

<head>
    <link href="~/css/Note/NoteCreateStyles.css" rel="stylesheet" />
</head>
<body>
<div class="container">
    <header>
        <h1 class="text-light header-title-note-create">Създаване на бележка</h1>
    </header>
    <section>
        <form asp-action="CreateNote" asp-controller="Note">

        </form>
    </section>
</div>
</body>