@model IEnumerable<Note>;
@{
    ViewData["Title"] = "Бележки";
}

<head>
    <link href="~/css/Note/NoteStyles.css" rel="stylesheet" />
    <link href="~/css/Note/NoteCreateStyles.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <header class="mt-5">
            <div class="header-buttons-container">
                <a class="btn btn-lg btn-light btn-create-note header-button-note" asp-action="Create"
                   asp-controller="Note">+ Нова бележка</a>
                <a class="btn btn-lg btn-light btn-sort-notes header-button-note">Сортирай</a>
            </div>
            <div class="header-title-note-container">
                <h1 class="text-light mt-5 header-title-note">Бележки</h1>
            </div>
        </header>
        <section class="mt-5">
            @foreach (var note in Model)
            {
                <div class="note-content-container theme-@note.Theme">
                    <div class="note-image-container mt-3 m-5">
                        <img src="@Url.Action("GetNoteImage", "Note", new { noteId = note.Id })" 
                             class="img-fluid note-image p-3" />
                    </div>
                    <p>@note.Title</p>
                </div>
            }
        </section>
    </div>
</body>