@using Microsoft.CodeAnalysis.Scripting
@model IEnumerable<Note>;
@{
    ViewData["Title"] = "Бележки";
}

<head>
    <link href="~/css/Note/NoteStyles.css" rel="stylesheet" />
    <link href="~/css/Note/NoteCreateStyles.css" rel="stylesheet" />
</head>
<body>
    <div class="">
        <header class="mt-5 container">
            <div class="header-buttons-container">
                <a class="btn btn-lg btn-light btn-create-note header-button-note" asp-action="Create"
                   asp-controller="Note">+ Нова бележка</a>
                <a class="btn btn-lg btn-light btn-sort-notes header-button-note">Сортирай</a>
            </div>
            <div class="header-title-note-container">
                <h1 class="text-light mt-5 header-title-note">Бележки</h1>
            </div>
        </header>
        <section class="notes-container mt-5 container notes-unfinished-container">
            @foreach (var note in Model.Where(n => !n.Completed))
            {
                @Html.Partial("_NotePartial", note)
            }
        </section>
        <section class="">
            <div class="header-title-note-container container">
                <h1 class="text-light mt-5 header-title-note note-underline">Завършени</h1>
            </div>
        </section>
        <section class="notes-container mt-5 container notes-finished-container">
            @foreach (var note in Model.Where(n => n.Completed))
            {
                @Html.Partial("_NotePartial", note)
            }
        </section>
    </div>
</body>

@section Scripts
{
    <script>
        function removeNote(id)
        {
            if(confirm("Изтриване"))
            {
                $.ajax({
                    url: "@Url.Action("DeleteNote", "Note")?noteId=" + id,
                    type: "DELETE",
                    success: function() {
                        $("#note-" + id).remove();
                        location.reload();
                    },
                    error: function() {
                        location.reload();
                    }
                });
            }
        }

        function completeNote(id)
        {
            $.ajax({
                url: "@Url.Action("CompleteNote", "Note")",
                type: "POST",
                data: { noteId: id },
                success: function()
                {
                    location.reload();
                },
                error: function()
                {
                    location.reload();
                }
            });
        }

        // function countNotes(id)
        // {
        //     var noteCount = document.getElementById(id);
        //     var notes = noteCount.getElementsByClassName("note-un-container");
        //     return notes.length;
        // }
    </script>
}