.quiz-collection-create-container {
    background-color: #51A051;
    border-radius: 20px;
}
.quiz-collection-create-container h1 {
    text-align: center;
}
.quiz-collection-create-buttons-container{
    display: flex;
    justify-content: space-between;
}